// type font
$roboto: "roboto", sans-serif;
$noto-sans: "noto sans", sans-serif;
$noto-sans-jp: "noto sans jp", sans-serif;

// font size
$xxxl: 1.875rem;
$xxl: 1.5rem;
$xl: 1.25rem;
$lg: 1.125rem;
$base: 1rem;
$sm: 0.875rem;

// font weight
$normal: 400;
$medium: 500;
$bold: 700;
